<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wellness Widget</title>
  <link rel="stylesheet" href="../assets/styles/index.css">
</head>
<body>
  <!-- Background Image Div -->
  <div class="background">
  </div>

  <!-- Main Content Container: Use Columns for vertical stacking -->
  <div class="column">
      <div class="row header-bar align-right">
            <!-- Pin toggle button -->
            <button id="pin-btn" class="header-btn primary" title="Toggle Always on Top">
                <img id="pin-icon" src="../assets/images/pin45.svg" alt="Pin" width="20" height="20" />
            </button>

            <!-- Close button -->
            <button id="close-btn" class="header-btn danger" title="Close">✕</button>
      </div>

    <div class="row">
    </div>

    <div class="row"></div>
    <div class="row"></div>

    <div class="row">
        
    </div>
  </div>

  <script src="renderer.js"></script>
</body>
</html>
